.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

#btn-update{
    position: relative;
    left: 23px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}